build/
.DS_Store
codemontest

# build artifacts
*.exe
/build/
*.o
*.obj
src/bin/*.exe
src/bin/*.dll
src/bin/*.pdb

# Ignore built TGUI executables and generated docs
external/TGUI/gui-builder/gui-builder
external/TGUI/doc/html/


